html {
    background-color: #fefefe;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .container {
    margin: 50px auto 0;
    width: 900px;
  }
  
  .u-float-right {
    float: right;
  }
  
  .u-flex-center {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .subtle {
    color: #888;
    font-size: 12px;
  }
  
  .card-media {
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
    height: 125px;
    margin-bottom: 25px;
    transition: all 300ms ease-out;
    width: 100%;
  }
  
  .card-media:hover {
    box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
  }
  
  .card-media-object-container {
    background: none;
    float: left;
    height: 100%;
    width: 35%;
    position: relative;
  }
  
  .card-media-object {
    background-position: center center;
    background-size: cover;
    height: 100%;
  }
  
  .card-media-object:after {
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 300ms ease-out;
    z-index: 10;
  }
  
  .card-media:hover .card-media-object:after {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0.4) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    opacity: 1;
  }
  
  .card-media-object-tag {
    background-color: #fff;
    border-radius: 2px;
    padding: 2px 7px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .card-media-object-social-list {
    bottom: 4px;
    left: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 20;
  }
  
  .card-media-object-social-list li {
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    margin-right: 6px;
    opacity: 0;
    overflow: hidden;
    transform: translateY(5px);
    transition: all 300ms ease-out;
    width: 30px;
  }
  
  .card-media:hover .card-media-object-social-list li {
    opacity: 1;
    transform: translateY(0);
  }
  
  .card-media-object-social-list li:nth-child(1) {
    transition-delay: 0;
  }
  .card-media-object-social-list li:nth-child(2) {
    transition-delay: 75ms;
  }
  .card-media-object-social-list li:nth-child(3) {
    transition-delay: 150ms;
  }
  
  .card-media-object-social-list-item-additional {
    border: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    padding-top: 7px;
    text-align: center;
  }
  
  .card-media-body {
    background-color: #fff;
    float: left;
    height: 100%;
    padding: 12px 15px;
    position: relative;
    width: 65%;
  }
  
  .card-media-body-top {
    display: block;
  }
  
  .card-media-body-top-icons {
    margin-top: -2px;
    opacity: 0;
    transition: all 300ms ease-out;
    transform: translateY(-5px);
  }
  
  .card-media:hover .card-media-body-top-icons {
    opacity: 1;
    transform: translateY(0);
  }
  
  .card-media-body-top-icons > svg {
    cursor: pointer;
    margin-left: 10px;
    transition: all 300ms ease-out;
  }
  
  .card-media-body-top-icons > svg:hover {
    fill: #444;
  }
  
  .card-media-body-heading {
    display: block;
    margin-top: 10px;
  }
  
  .card-media-body-supporting-bottom {
    position: absolute;
    bottom: 10px;
    left: 0;
    opacity: 1;
    padding: 0 15px;
    transition: all 300ms ease-out;
    width: 100%;
  }
  
  .card-media:hover .card-media-body-supporting-bottom {
    opacity: 0;
    transform: translateY(-8px);
  }
  
  .card-media-body-supporting-bottom-text {
    display: inline-block;
  }
  
  .card-media-body-supporting-bottom-reveal {
    opacity: 0;
    transform: translateY(8px);
    transition: all 300ms ease-out;
  }
  
  .card-media:hover .card-media-body-supporting-bottom-reveal {
    opacity: 1;
    transform: translateY(0);
  }
  
  .card-media-link {
    color: #41C1F2;
    text-decoration: none;
  }

  .magicpattern { 
    width: 60%;
    height: 500px;
    /* background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M612.5 709.5Q258 919 271 522.5T625.5 313q341.5 187-13 396.5Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23444cf7%22 d=%22M612.5 709.5Q258 919 271 522.5T625.5 313q341.5 187-13 396.5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); */

background-color: #41C1F2;
  border-top-left-radius: 100%;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  }
  